body {
}

[class*="col"] {
    margin-bottom: 20px;
}

/* Ce que font les classes bootstrap */
/*
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.pull-right {
    float: right !important;
}
*/

img {
    width: 100%;
}
